body {
  font-family: Arial;
  background: #eef2ff;
  margin: 0;
}

.app {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.primary {
  background: #0a5cff;
  color: white;
  border: none;
}

.secondary {
  background: #ddd;
}

.note {
  font-size: 12px;
  color: gray;
}
