body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.box {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #0a5cff;
  color: white;
  border: none;
  cursor: pointer;
}

